# See http://help.github.com/ignore-files/ for more about ignoring files.

application/HELP.md
application/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
application/.apt_generated
application/.classpath
application/.factorypath
application/.project
application/.settings
application/.springBeans
.sts4-cache

# Compiled output
web-ui/dist/
web-ui/tmp/
/out-tsc
/bazel-out

# Node
web-ui/node_modules
web-ui/npm-debug.log
web-ui/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iws
*.iml
*.ipr

# Visual Studio Code
*/.vscode/*
web-ui/!.vscode/settings.json
web-ui/!.vscode/tasks.json
web-ui/!.vscode/launch.json
web-ui/!.vscode/extensions.json
web-ui/.history/*

# Miscellaneous
web-ui//.angular/cache
web-ui/.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/